---
layout: default
title: Shah Lab / Software
categories: 
 - software
category: software
---

<div class="post-list">

{% for post in site.categories.software limit: 8 %}

	<div class="blog-post">
		<div class="row">
			<div class="col-md-1"></div>	
			<div class="col-md-10">
				<div class="media">
					<div class="media-body">
						<div class="title media-heading">
							<a href="{{ post.url }}" class="off">{{ post.title }}</a>
						</div>
						<p>
<!--						<div class="smallhead">
							{{ post.date | date: "%-d %b %Y" }}
							{% if author %}
							by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
							{% endif %}		
						</div>
-->
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>					
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">	
				{% if post.image %}
                <a href="{{ post.url }}">
				<img width=500 class="offset" src="{{ post.image }}">
                </a>
				{% endif %}
				<div class="smallhead">
					{{ post.content }}
				</div>	
			</div>			
			<div class="col-md-1"></div>
		</div>
	
		<div class="bigspacer"></div>
		<div class="spacer"></div>	

	</div>
		<div class="bigspacer"></div>

{% endfor %}

</div>

<div class="row">
	<div class="col-md-12">
		<div id="scroll" class="centered-pills">
			<ul class="nav nav-pills note">
				<li role="presentation">
					<a class="off" href="/software/">
						<i class="fa fa-chevron-up fa-fw"></i> Back to top
					</a>
				</li>				
			</ul>
		</div>
	</div>
</div>
